<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_TugasAkhir.Properties.Settings.Toko_BukuConnectionString"
            connectionString="Data Source=DESKTOP-794RG4I\PRIMA06;Initial Catalog=Toko_Buku;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>